@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-family: 'Poppins',sans-serif;

}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('imagen3.jpg'); /* Initial background image */
    background-size: cover;
    background-position: center center;
    height: 400px;
    font-family: 'Roboto', sans-serif;
    background-position: 0 0, 10px 10px;
    /* Apply animation */
    animation: changeBackground 9s linear infinite; /* 3 images, each lasting for 3 seconds */
}

@keyframes changeBackground {
    0% {
        background-image: url('imagen1.jpg');
    }
    33.33% {
        background-image: url('imagen2.jpg');
    }
    66.66% {
        background-image: url('imagen3.jpg');
    }
    100% {
        background-image: url('imagen1.jpg');
    }
}


.navigation a:hover::after{
    transition: left;
    transform: scaleX(1);
}

.navigation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #ffffff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #ffffff;
    font-weight: 500;
    margin-left: 400px;
    transition: .5s;
}

.navigation .btnLogin-popup:hover {
    background:#ffffff ;
    color: #162938;
}

.container{
    width: 100%;
    max-width: 400px;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin: 0 10px;
    border-radius: 10px;
    box-shadow: inset -2px 2px 2px white;
}


.form{
    margin: auto;
    width: 90%;
    max-width: 400px;
    padding: 4.5em 3em;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
    text-align: center;
}

.form__title{
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 6px;
    color: white;
    text-shadow: 2px 2px 2px black;
    border-bottom: solid 1px white;
}

.form__paragraph{
    font-weight: 300;
}

.form__link{
    font-weight: 400;
    color: white;
    text-shadow: 2px 2px 2px black;
    border-bottom: solid 1px white;
}

.form__container{
    margin-top: 3em;
    display: grid;
    gap: 2.5em;
}

.form__group{
    position: relative;
    color: white;
    text-shadow: 2px 2px 2px black;
    border-bottom: solid 1px white;
}

.form__input{
    width: 100%;
    background: none;
    color: #ffffff;
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color);
    font-family: 'Roboto', sans-serif;
}


.form__input:not(:placeholder-shown){
    color: #ffffff;
}


.form__input:focus + .form__label,
.form__input:not(:placeholder-shown) + .form__label{
    transform: translateY(-12px) scale(.7);
    transform-origin: left top;
    color: #ffffff;
}

.form__label{
    color: var(--color);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform .5s, color .3s;
}

.form__submit{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    padding: .8em 0;
    border: none;
    border-radius: 3px;
    color: rgb(209, 209, 209);
    background: rgba(202, 116, 46, 0.7);
    border-radius: .5em;
}

.form__line{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #e42727;
    transform: scale(0);
    transform: left bottom;
    transition: transform .4s;
}
section{
    margin-top: 20px;
    text-align: center;
}
 
section a {
    margin-bottom: 50px;
    color: rgb(255, 255, 255);
    font-size: 17px;
}

.form__input:focus ~ .form__line,
.form__input:not(:placeholder-shown) ~ .form__line{
    transform: scale(1);
}

@media (max-width:425px) {
    
    .form__title{
        font-size: 1.8rem;
    }

}

