/*Estilo del Proyecto Final/
/*Agregamos la fuente que vamos a utilizar en la pagina*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Montserrat';
}

html{
    scroll-behavior: smooth;
}
#inicio{
    background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0,0,0,.7)),url("Fondo.gif");
    background-size: cover;
    background-position: center center;
    height: 100vh;

}
#inicio .contenido header{
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;

}
#inicio .contenido header .contenido-header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;    
}
#inicio .contenido header .contenido-header h1{
    text-align: center;
    color: #f7ae12;
}
#inicio .contenido header .contenido-header nav ul{
    list-style: none;
    display: flex;
    align-items: center;
}
#inicio .contenido header .contenido-header nav ul li a{
    text-decoration: none;
    color: #fff;
    margin: 0 12px;
    font-weight: 400;
    transition: .5s;

}
#inicio .contenido header .contenido-header nav ul li a:hover{
    color: #f7ae12;
}
#inicio .contenido header .contenido-header .redes a {
    text-decoration: none;
    color: #f7ae12;
    display: inline-block;
    margin-left: 10px;
    transition: .5s;
}
#inicio .contenido header .contenido-header .redes a:hover{
    color: #ffffff;
}
#inicio .contenido header .contenido-header .seleccionado{
    color: #f7ae12;
}
#inicio .contenido .presentacion{
    max-width: 1100px;
    height: 100vh;
    margin: auto;
    columns: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}
#inicio .contenido .presentacion .bienvenida{
    font-size: 16px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #fff;   
}
#inicio .contenido .presentacion h2{
    font-size: 50px;
    margin-bottom: 55px;
    text-align: center;
    color:  #000000;
    text-shadow: -1px -1px 1px #000000, 1px 1px 1px#000000, -1px 1px 1px #000000, 1px -1px 1px #000000;
   -webkit-text-fill-color:  #f7ae12;

}

#inicio .contenido .presentacion p{
    color: #fff;  
}
#inicio .contenido .presentacion a{
    text-decoration: none;
    display: inline-block;
    margin: 25px;
    padding: 20px 25px;
    border: 2px solid #fff;
    border-radius: 50px;
    color:#fff;
    font-weight: bold;
    text-transform: uppercase;
    transition: .5s;
}
#inicio .contenido .presentacion a:hover{
    background-color: #f7ae12;
}
#icono-nav{
    color:#fff;
    display: none;
}

/*ESTE ESTILO SE APLICARA LUEGO JAVASCRIPT PARA LOGRAR LA ANIMACION DE LA BARRA*/

.contenedor-skills .skill .barra .barra-progreso1{
    background-color: #fff;
    width: 80%;
    height: 6px;
    animation: progreso1 2s forwards;
}
.contenedor-skills .skill .barra .barra-progreso2{
    background-color: #fff;
    width: 90%;
    height: 6px;
    animation: progreso2 2s forwards;
}
.contenedor-skills .skill .barra .barra-progreso3{
    background-color: #fff;
    width: 90%;
    height: 6px;
    animation: progreso3 2s forwards;
}
.contenedor-skills .skill .barra .barra-progreso4{
    background-color: #fff;
    width: 85%;
    height: 6px;
    animation: progreso4 2s forwards;
}
/*SECCION CONTACTO*/

#contacto{
    padding: 100px 15px;

}
#contacto .titulo-seccion{
    margin-bottom: 20px;
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;   
}
#contacto .contenedor-form{
    max-width: 1100px;
    margin: auto;
}
#contacto .contenedor-form .fila{
    margin-bottom: 15px;
}
#contacto .contenedor-form .mitad{
    display: flex;
    justify-content: space-between;
}
#contacto .contenedor-form input,
#contacto .contenedor-form textarea{
    padding: 20px;
    border-radius: 20px;
    border: none;
    border: 1px solid #919191;
}
#contacto .contenedor-form .mitad input{
    width: 48%;
}
#contacto .contenedor-form .input-full{
    width: 100%;
}
#contacto .btn-enviar{
    display: block;
    margin: auto;
    cursor: pointer;
    transition: .5s;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: bold;
}
#contacto .btn-enviar:hover{
    background-color: #ff5080;
    color: #fff;
}
footer{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 30px 0;

}
footer a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin: 5px;
    font-size: 26px;
}
/*SECCION RESPONSIVE*/
@media screen and (max-width:800px){
    .redes{
        display: none;
    }
    nav{
        display: none;
    }
    nav.responsive{
        display: block;
        background-color: rgba(0, 0, 0, .8);
        width: 100%;
        position: absolute;
        top: 48px;
        left: 0;
        padding: 10px 0 ;   
    }
    nav.responsive ul{
        display: block !important;
        text-align: center;
    }
    nav.resposive ul li{
        margin: 5px 0;
    }
    #icono-nav{
        display: block;
    }
    #inicio .contenido .presentacion h2{
        font-size: 40px;
    }
    #sobremi{
        padding: 50px 0;
        display: block;
    }
    #sobremi .contenedor-foto{
        max-width: 200px;
        margin: auto;
    }
    #sobremi .contenedor-foto img{
        padding: 8px;
    }
    #sobremi .sobremi .titulo-seccion{
        text-align: center;
    }
    #sobremi .sobremi h2{
        font-size: 25px;
        text-align: center;
    }
    #servicios{
        padding: 50px 15px;
    }
    #servicios .fila{
        display: block;
    }
    #servicios .fila .servicios{
        margin: 10px auto;
    }
    .contenedor-skills{
        padding: 50px 20px;
    }
    #portafolio{
        padding: 50px 0;
    }
    #portafolio .fila{
        display: block;
    }
    #portafolio .fila .proyecto{
        margin: 10px auto;
    }
    #contacto{
        padding: 50px 15px;
    }
    #contacto .contenedor-form .mitad{
        margin-bottom: 15px;
        display: block;
    }
    #contacto .contenedor-form .mitad input{
        width: 100%;
        margin-bottom: 15px;
    }
}
.logo {
    width: 100px; /* Ajusta el tamaño del logo según tus necesidades */
}

.busqueda {
    display: flex;
    align-items: center;
}

.busqueda input[type="text"] {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 5px;
}

.busqueda button {
    padding: 8px 10px;
    background-color: #f7ae12;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.busqueda button:hover {
    background-color: #f7ae12;
}